/* Colors to use
#686573 dark
#71879a blue
#b1c5d4 blue grey
#d6d7dc light grey
#d8b9aa beige

#3f4b6e dark blue
#2a5d68 dark turquos
#164f55 dark turquos II
#7fb9c2 light turquose
#7dbbb9 turquose
#d8d3d0 light light beige
#e7f0ed almost white

#770f10 bordo
#d44a1e orange
#cab7ab brown-grey

*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
    margin: 0px;
    line-height: 1.4em;
}
footer {
    font-family: 'Montserrat', serif;
    font-weight: 800;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', serif;
    color: #3f4b6e;
    font-weight: 800;
}

.container {
    width: 100%;
    padding: 0px;
    gap: 0px;
    background-color: #f1ece9;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
      "hd  hd  hd  hd   hd   hd   hd   hd "
      "main main main main main main sd sd"
      "main main main main main main se se"
      "ft  ft  ft  ft   ft   ft   ft   ft ";
}

.header {
    grid-area: hd;
    background-color: #2a5d68;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

.content {
    grid-area: main;
    height: auto;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2vw;

}
.sidebar {
    grid-area: sd;
    background-color: #d6d7dc;
    border-top:2px solid #a5b4b9;
    margin: 20px;
    padding: 20px;
    text-align: left;
    line-height: 1.5em;
}

.search_area {
    grid-area: se;
    border-radius: 20px;
    text-align: center;
    left: 10%;
    right: 10%;
    top: 50%;
}

.footer {
    grid-area: ft;
    background-color: #2a5d68;
    color: #d6d7dc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#site_name {
    color: #f1ece9;
    font-size: 35px;
}
.nav_menu {
    list-style: none;
    display: flex;
}

.nav_menu li {
    font-family: 'Montserrat', sans-serif;
    color: #f1ece9;
    font-weight: 600;
    margin-left: 30px;
    padding: 5px;
}

.nav_menu li:hover {
    background-color: #f1ece9;
    color: #2a5d68;
    cursor: pointer;
}

/* post cards */

.content > div {
    border: 2px solid #a5b4b9;
}

.post_card {
    background-color: #ebedef;
    text-align: center;
    padding-bottom: 20px;
}

.post_card p {
    padding-right: 10px;
    padding-left: 10px;
    text-align: left;
}

.post_card_image {
    width: 100%;
    height: 155px;
}

.post_card h2 {
    font-size: 1.4em;
}

.fa-calendar-o {
    padding-right: 5px;
}

.fa-clock-o {
    padding-right: 5px;
    padding-left: 10px;
}

.read_button {
    border: 2px solid #3f4b6e;
    border-radius: 5px;
    width: 200px;
    height: 2em;
}

.read_button:hover {
    background-color: #3f4b6e;
    color: #ebedef;
    cursor: pointer;
    font-weight: 700;
}


/* footer */
.social_menu {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
}

.social_menu li{
    font-size: 22px;
    list-style: none;
}

/* fsocial media icons */
.fa-facebook-square,
.fa-instagram,
.fa-twitter-square,
.fa-linkedin-square,
.fa-envelope {
    text-align: center;
    text-decoration: none;
    color: #f1ece9;
    background-color: #2a5d68;
    margin-left: 10px;
}

.contact_me {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*sidebar*/
.sidebar a {
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}

.sidebar a:hover {
    color: #3f4b6e;
    font-weight: 600;
    text-decoration: underline;
}

.sidebar h2 {
    font-size: 1.4em;
    text-align: center;
}

.sidebar h3 {
    font: 1.2em;
    font-weight: 600;
}

/* search */
.search_bar {
    margin: 20px;
    display: flex;
}

.search_input {
    width: 100%;
    border: 2px solid #3f4b6e;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    background-color: #f1ece9;
    color: black;
    outline: none;
}

.search_input::placeholder{
    color: #b4b4af;
}

.search_input:focus {
    background: #d6d7dc;
}

.search_button {
    width: 40px;
    height: 34px;
    border: 2px solid #3f4b6e;
    background: #3f4b6e;
    text-align: center;
    color: #f1ece9;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    outline: none;
  }

  .search_button:hover {
    color: #d6d7dc;
  }
