/* Colors to use
#d6d7dc light grey
#3f4b6e dark blue
#2a5d68 dark turquoise
#7fb9c2 turquoise
#d8d3d0 light turquoise
#d8d3d0 beige
#ebedef light blue
##f1ece9 almost white (for bg)
*/ 


@import "post_card.css";
@import "blog_post.css";
@import "search.css";

/* mobile */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: 0px;
    line-height: 1.4em;
    background-color: #f1ece9;
}

footer {
    font-family: 'Montserrat', serif;
    font-weight: 800;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', serif;
    color: #3f4b6e;
    font-weight: 800;
}

.container {
    width: 100%;
    padding: 0px;
    gap: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "hd"
      "main"
      "sd"
      "se"
      "ft";
}

.blog-post {
    grid-area: main;
    text-align: justify;
    /* padding-left: 50px; */
    padding-left: 30px;
    padding-right: 30px;

}
.header {
    grid-area: hd;
    background-color: #2a5d68;
    align-items: center;
    justify-content: center;
}

.content {
    grid-area: main;
    height: auto;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2vw;
    justify-items: center;
}

.sidebar {
    grid-area: sd;
    background-color: #d6d7dc;
    border-top:2px solid #a5b4b9;
    margin: 20px;
    padding: 20px;
    text-align: left;
    line-height: 1.5em;
    justify-self: center;

}

.search-area {
    width: 80%;
    justify-self: center;
    grid-area: se;
    border-radius: 20px;
    text-align: center;
    left: 10%;
    right: 10%;
    top: 50%;
}

.footer {
    grid-area: ft;
    background-color: #2a5d68;
    color: #d6d7dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
}

#site-name {
    color: #f1ece9;
    font-size: 35px;
    padding: 20px 0 20px 20px;

}
.nav-menu {
    list-style: none;
    display: flex;
    padding-left: 20px;
}

.nav-menu a {
    font-family: 'Montserrat', sans-serif;
    color: #f1ece9;
    text-decoration: none;
    font-weight: 600;
    padding-left: 20px;
    padding: 5px;
}

.nav-menu li:nth-child(2),
.nav-menu li:nth-child(3) {
    margin-left: 20px;
}

.nav-menu a:hover {
    background-color: #f1ece9;
    font-weight: 700;
    color: #2a5d68;
    cursor: pointer;
}

/* footer */
.social-menu {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
}

.social-menu li{
    font-size: 22px;
    list-style: none;
}

/* fsocial media icons */
.fa-facebook-square,
.fa-instagram,
.fa-twitter-square,
.fa-linkedin-square,
.fa-envelope {
    text-align: center;
    text-decoration: none;
    color: #f1ece9;
    background-color: #2a5d68;
    margin-left: 10px;
}

.contact-me {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*sidebar*/
.sidebar a {
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}

.sidebar a:hover {
    color: #3f4b6e;
    font-weight: 600;
    text-decoration: underline;
}

.sidebar h2 {
    font-size: 1.4em;
    text-align: center;
}

.sidebar h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    font: 1.2em;
    font-weight: 600;
}

.sidebar ul {
    padding-left: 20px;
}

 /* small desktops*/
@media (min-width: 550px) and (max-width: 768px) { 
    
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas:
        "hd hd "
        "main sd"
        "main se"
        "ft ft";
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 3%;
        padding-right: 3%;
    }

    .search-area {
        width: 80%;
        justify-self: center;
    }

    .sidebar {
        width: 80%;
    } 

}
 
 /* medium desktops*/
 @media (min-width: 769px) and (max-width: 991px) { 
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas:
        "hd hd hd "
        "main main sd"
        "main main se"
        "ft ft ft";
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 3%;
        padding-right: 3%;
    }

    .footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* large desktops*/
@media (min-width: 992px) {

    .container {
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas:
          "hd  hd  hd  hd   hd   hd   hd   hd "
          "main main main main main main sd sd"
          "main main main main main main se se"
          "ft  ft  ft  ft   ft   ft   ft   ft ";
    }

    .header {
        grid-area: hd;
        background-color: #2a5d68;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 3%;
        padding-right: 3%;
    }

    .footer {
        flex-direction: row;
    }

    .sidebar {
        width: 80%;
    } 

    .footer {
        grid-area: ft;
        background-color: #2a5d68;
        color: #d6d7dc;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .social-menu {
        width: 100px;
        display: flex;
        justify-content: space-evenly;
    }
    

    .social-menu li{
        font-size: 22px;
        list-style: none;
    }

    .post-card-image {
        width: 100%;
        height: 155px;
    }
}