/* post cards */

.content > div {
    border: 2px solid #a5b4b9;
    margin-bottom: 20px;
}

.post-card {
    background-color: #ebedef;
    max-width: 250px;
    text-align: center;
    padding-bottom: 20px;
}

.post-card p {
    padding: 0 0 20px 10px;
    text-align: left;
    font-style: italic;
}

.post-card-image {
    width: 100%;
    height: auto;
}

.post-card h2 {
    font-size: 1.5em;
    padding: 10px 0 10px 0;
}

.fa-calendar-o {
    padding-right: 5px;
}

.fa-clock-o {
    padding-right: 5px;
    padding-left: 10px;
}

.read-button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border: 2px solid #3f4b6e;
    border-radius: 5px;
    width: 200px;
    height: 2em;
}

.read-button:hover {
    background-color: #3f4b6e;
    color: #ebedef;
    cursor: pointer;
    font-weight: 700;
}